{% extends "base.html" %}
{% load form_tags %}

{% block content %}
<h1>{{ building.name }}</h1>

<div class="detail-header-buttons mb-10">
    <a href="{% url 'building_list' %}" class="btn btn-outline-primary">Zurück zur Liste</a>
    <a href="{% url 'building_create' %}" class="btn btn-primary">Neues Gebäude berechnen</a>
    <a href="{% url 'building_update' building.id %}" class="btn btn-secondary">Dieses Gebäude bearbeiten</a>
    <a href="{% url 'building_report_pdf' building.id %}" class="btn btn-dark">Bericht als PDF</a>
</div>
